body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 10px;
    padding-top: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    background-color: #231a37;
    width: 200px;
    border-radius: 25px;
    height: 500px;


}

#head{
    color: white;
    margin: 0px;
    padding-top:10px ;
    align-content: flex-start;

}

.card{  
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px; 
    width: 100px;
    border-radius: 4px;
    
}
.tabooWordClass{ 
    background-color: #f9c3a1 ; 

}
.word{
    background-color: #eb5a61 ;
    
}
.btnContainer{
    
    flex-direction: row;
    justify-content: center;
    
    
}
.btn{
    color: white;
    border-radius: 4px;
}
#taboo{
    background-color: #eb5a61;
}

#pass{
    background-color:#253789 ;
}
#true{
    background-color:#005361 ;
}


#topContainer{ 
    
    display: flex;  
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;

    
}

#remainingPass{
    background-color: #9191c5;
    padding: 5px;
    margin: 0px;
    text-align: center;
    border-radius: 4px;
}
#point{
    background-color: #9191c5;
    padding: 5px;
    margin: 0px;
    text-align: center;
    border-radius: 4px;
}
#remainingTime{
    background-color: #9191c5;
    padding: 5px;
    margin: 0px;
    border-radius: 4px;
}


#popup{
    display: none;
    width: 300px;
    background:#f3d0e7 ;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    box-shadow: 0 5px rgba(250, 131, 204, 0.2) 
}

#popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #e2cbc0;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2) ;
}

#goBack{
    width: 50%;
    margin-top: 5px;
    padding: 5px 0;
    background: #f9c3a1;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2) ;
    font-family: Georgia;
}